//POLICE D'ECRITURE

$font-sans:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-mono: Consolas, "Liberation Mono", Courier, monospace;
$font-code: 'Cascadia Code', 'Consolas', 'Courier New', monospace;

// COULEURS

$bg-main: #1E1E1E;
$bg-nav: #3C3C3C;
$bg-card: #252526;
$bg-header: #202020;

$color-text-dim: #858585;
$color-white: #FFFFFF;
$color-text: #CCCCCC;

$color-yellow: #D7BA7D;
$color-blue: #9CDCFE;
$color-orange: #CE9178;
$color-green: #B5CEA8;
$color-green-dark: #6A9955;
$color-gold: #FFD700;
$color-blue-dark: #569CD6;
$color-yellow-light: #DCDCAA;
$color-purple: #DA70D6;
$color-gray-dot: #6E7681;
$color-green-bright: #20C20E;
$color-teal: #1D9E75;
$color-green-terminal: #00FF41;
$color-border: #444444;
$color-gray-dark: #666666;

